<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Temp</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        {{message}}
    </div>
    <div id="app2">
        <span v-bind:title="message">Hover over me to see something change</span> 
    </div>
    <div id="app3">
        <span v-if="seen">Now you see me</span>
    </div>
    <div id="app4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}        
            </li>
        </ol>
    </div>
    <div id="app5">
        <p>
            {{message}}
        </p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app6">
        <p>
            {{message}}
        </p>
        <input v-model="message">
    </div>
    <div id="app7">
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>
    <div id='app8'>
        <div v-bind:id="dynamicId">{{dynamicId}}</div>
        <button v-bind:disabled="isButtonDisabled">{{isButtonDisabled}}</button>
    </div>
    <div id="computedExample">
        <span>this is the : "{{message}}"</span>
        <p>message reversed is : "{{reversedMessage}}"</p>
    </div>
    
    <script>
         


        var app9 = new Vue({
            el: '#computedExample',
            data: {
                message : "original message"
            },
            computed: {
                reversedMessage(){
                    return this.message.split('').reverse().join('');
                }
            }
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: "Hellp Vue!",
                dynamicId: '7',
            }
        })

        var app2 = new Vue({
            el: '#app2',
            data : {
                message: 'You loaded this page on ' + new Date().toLocaleString()
            }
        })

        var app3 = new Vue({
            el: "#app3",
            data: {
                seen: true
            }
        })

        var app4 = new Vue({
            el: '#app4',
            data : {
                todos: [
                    {text: "item 1"},
                    {text: "item 2"},
                    {text: "item 3"}
                ]
            }
        })

        var app5 = new Vue({
            el: "#app5",
            data: {
                message: "Hello again!"
            },
            methods: {
                reverseMessage (){
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        var app6 = new Vue({
            el: "#app6",
            data : {
                message: "here we are in this box"
            }
        })

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        })

        var app7 = new Vue({
            el: '#app7',
            data: {
                groceryList: [
                    {id: 0, text: 'Vegetables'},
                    {id: 1, text: 'Cheese'},
                    {id: 2, text: 'Deer Penis'}
                ]
            }
        })

        var app8 = new Vue({
            el: '#app8',
            data: {
                dynamicId: '7',
                isButtonDisabled: true
            }
        }) // why can't i select these properties from js console?

    </script>
</body>
</html>